name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Type check
        run: npx tsc -p tsconfig.esm.json --noEmit
      - name: Run unit tests
        run: npm run test:unit

  integration-tests:
    name: Llama.cpp Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          cache: 'npm'
      - name: Cache Llama.cpp model
        uses: actions/cache@v5
        with:
          path: ./test/models
          key: llama-model-tinyllama-1.1b-q4km
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Run Llama.cpp integration tests
        run: npm run test:llama
